teszt2_wall_follower:
  ros__parameters:
    side: "left"

    desired_distance: 1.0    # Cél távolság a követett faltól (m).
    lookahead_distance: 1.0   # A két-sugaras (backup PID) geometria előretekintési hossza.

    kp: 14.0
    ki: 0.0
    kd: 0.09

    linear_speed: 0.4
    linear_speed_min: 0.3
    angular_speed_limit: 4.8  # Max. szögsebesség (|w|) rad/s – kormányzás korlátja.

    slow_down_distance: 0.25
    stop_distance: 0.18

    median_window: 5          # Medián szűrő ablakméret a backup PID hibájára.
    range_clip_max: 10.0      # Max. távolság, amire a LIDAR méréseket „levágjuk”.
    valid_min: 0.03            # Minimális érvényes LIDAR távolság (m). Ez alatti mérések kuka.

    angle_a_deg: 90.0         # Oldalsó sugár szöge a backup PID-nél.
    angle_b_deg: 45.0          # Előre-oldal sugár szöge a backup PID-nél.
    forward_half_fov_deg: 15.0

    follow_angle_deg: 55.0      # A goalpoint követő sugár szöge (a falhoz képest).
                              # kisebb (pl. 35°): inkább előre néz, ha nagyob, akkor inkább oldalr afigyel
    lookahead_forward: 0.500   # A goalpont előrehozása tangens irányban (m).
    k_goal: 1.0               # A goalpont-szögből számolt w skálafaktora.
                              # kisebb: lustábban fordul a goal felé, nagyobb: agresszívebben mozdul a goal irányába,
    use_goalpoint: true

    # ÚJ – Polyline forrás bekapcsolása:
    use_polyline: true
    polyline_left_topic:  "/polyline_left"
    polyline_right_topic: "/polyline_right"
    polyline_frame: "base_link"
    min_poly_points: 4          # Minimum pontszám, hogy egy polyline „érvényesnek” számítson.
    max_goal_jump: 1.0          # Ha a goalpont két frame között ennél nagyobbat ugrik (m), akkor az előző goal-t preferáljuk.

    # Goal-jump alapú oldalváltás (ha kell)
    gp_jump_enable: true
    gp_jump_thresh: 0.3         # Ennél nagyobb goal-ugrásnál (m) oldalváltás.
    gp_jump_frames: 1           # Hány egymást követő frame-ben kell a nagy ugrásnak jelentkeznie.
    side_switch_hold_s: 0.0


polyline_builder:
  ros__parameters:
    frame_id: "base_link"

    # LIDAR szűrés
    valid_min: 0.05           # Minimális érvényes LIDAR távolság (m).
    range_clip_max: 5.0       # Maximum távolság, ameddig a LIDAR pontokat figyelembe vesszük.

    front_cut_deg: 15.0        # mekkora szöget vágjunk ki elöl (mindkét oldalon)
    keep_radius_delta: 1.4     # mennyivel lehet messzebb a "közeli faltól"

    max_seg_len: 0.2            # Két szomszédos pont közti max. engedett távolság a polyline-ban.
    max_angle_step_deg: 4.0      # Két szomszédos pont közti max. szög-lépés (radiánban számolunk belőle).
    viz_enable: true
    viz_lifetime: 0.0
